@import 'setup';

@font-face {
	font-family: 'weather';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
	url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
	url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
	url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$lightgray: #bebebe;
$darkgray:#777777;
$coldblue: #4ae5d1;
$black: #222222;
$darkblack: #141414;

html{
	font-size:62.5%;
}
body{
	font-size:1.4rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
}
img {
	max-width:100%;
}

h1,
h2,
h3,
h4,
h5{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:300;
}

h1 {
	font-size:4rem;
	letter-spacing:6px;
	margin:0;
}
h2{
	font-size:3rem;
}
h3 {
	font-size:2rem;
}
h4 {
	font-size:1.6rem;
	letter-spacing:1px;
}
h5{
	letter-spacing:1px;
	font-size:1.1rem;
}

p {
	color:$lightgray;
	line-height:1.6;
	font-size:1.4rem;
}

.featured p,
.offers p{
	color:white;

}

input:focus,
input:active,
.package-form input:active,
.package-form input:focus{
	outline:none;
	border:1px solid $coldblue;
}

input,
select{
	color:$lightgray;

}

ul {
	margin:0;
	padding:0;
	li {
		padding:5px;
	}
}
.section-head{
	text-align:center;
}

.btn {
	background:$coldblue;
	color:white;
	padding:10px 20px;
	border:2px solid $coldblue;
	letter-spacing:1px;
	font-size:1.4rem;
	border-radius:5px;
	transition:all 0.3s ease;
	text-transform:uppercase;

	i{
		padding-right:6px;
	}

	&:hover{
		border:2px solid $coldblue;
		background:transparent;
	}
}

.btn-secondary{
	padding:8px;
	font-size:1.2rem;
}

// Main Header
.main-header{
	display:flex;
	flex-direction:column;
	height:130vh;
	background:url('../images/hero.jpg') top no-repeat;
	background-size:cover;
	justify-content:center;
	color:white;

	h5	{
		display:inline-block;
	}

	nav {
		display:flex;
		justify-content:space-between;
		padding:25px;
		align-items:center;

	}
	.menu {
		display:flex;
		list-style:none;
		justify-content:space-between;
		margin:0;
		padding-top:8px;

		a {
			text-decoration:none;
			color:white;
			padding:3px;
		}

		i {
			font-size:1.2rem;
		}
		h5{
			margin:0;
		}
		.tour-dropdown{
			width:80px;
		}
		.booking-dropdown{
			width:118px;
			right:0;
			left:auto;
		}		
	}
	li {
		position:relative;
		display:inline-block;
		padding:5px;
		border-bottom:1px solid transparent;
		transition:all 0.3s;
		&:hover ul{
			visibility:visible;
			opacity:1;
			li {
				border-bottom:1px solid $lightgray;
				&:last-child{
					border-bottom:none;
				}
			}
		}
		&:hover{
			background:rgba(0,0,0,0.3);
			border-bottom:1px solid $lightgray;
		}

		a:hover{
			color:$coldblue;
		}
	}
	li ul {
		list-style:none;
		margin:0;
		padding:0;	
		position:absolute;
		top:100%;
		left:0;
		background:rgba(0,0,0,0.3);
		visibility:hidden;
		opacity:0;
		display:block;

		li {
			padding:5px;
			width:100%;
			h5{
				margin:0;
			}
		}

	}			

	.logo{
		flex: 1 0 30%;
	}

	ul {
		flex:1 0 70%;
	}

	.fa-bars{
		display: none;
	}
}	
.hero-text {
	margin:auto;
	text-align:center;
	width:60%;
}

.fa-bars,
.fa-close{
	cursor: pointer;
	position: relative;
	z-index: 80;
	
}
.fa-close{
	color:white;
}

.search {
	text-align:center;
	display:flex;
	justify-content:center;
	input[type=radio] {
		display: none;
	}
	input:checked{
		+ label {
			background:rgba(0,0,0,0.3);
			border:none;
		}
	}
	label {
		display: inline-block;
		padding: 10px 20px;
		font-weight: 600;
		text-align: center;
		border: 1px solid white;
		border-right:none;
		border-bottom:none;
		margin:0;	
		&:hover{
			cursor: pointer;
		}
		h4 {
			margin:0;
		}
	}
	label:last-child{
		border-right:1px solid white;
	}	
}
.hotels h5{
	text-transform:capitalize;
	font-size:1.2rem;
}
.packages {
	display: none;
}	
.packages.hotel-1 {
	display: block;
}

.package-form{
	background:rgba(0,0,0,0.3);
	height:30vh;
	display:flex;
	padding:0 5%;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;

	button {
		margin-top:4%;
	}

	input,
	select {
		background:none;
		border:1px solid transparent;
		padding:1%;
	}
	div{
		padding:5px;
		border-bottom:1px solid $darkgray;
	}
	.drops{
		display:flex;
		justify-content:space-around;
		width:20%;
		flex-wrap:wrap;
	}
	.search-dropdown{
		width:30%;
		padding:4px;

	}
	.drops,
	.cruise-drops,
	.search-dropdown,
	.cruise-dropdown{
		border-bottom:none;
	}
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
select{
	-webkit-appearance: none;
	appearance:none;

}	
.drops select,
input[type=time],
#cruise-to,
#depart-month{
	width:100%;
	background:url('../images/chevron-down.png') right center no-repeat;
	background-size:10px;
}	
input[type=time]{
	width:80%;
	padding-right:12px;
}

.rooms, 
.kids,
.adults,
.depart-month,
.cruise-to {
	position:relative;
	border-bottom:none;
}

.cruise-drops{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;

}
.cruise-dropdown {
	margin-right:15px;
	padding-right:5px;
}
#cruise-to{
	padding-right:15px;
}

.activities-1 p{
	font-size:5rem;
	font-weight:700;
	letter-spacing:2px;
	margin:auto;
}

.cars.package-form{
	flex-basis:20%;
}

.cruises .package-form{
	justify-content:center;
}

.soon {
	animation: soon 1s infinite;

}

@keyframes soon {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}			

input#hotel-destination,
input#to,
input#from,
input#pickup{
	background:url('../images/marker-2.png') left center no-repeat;
	background-size:12px;
	padding-left:14px;
	width:100%;
}
input[type=date]{
	background:url('../images/calendar.png') left center no-repeat;
	background-size:16px;
	padding-left:20px;
	width:100%;	
}

// Weather widget
#weather {
	text-align: center;
	h3 {
		text-transform:capitalize;
	}

	#weather .currently {
		margin: 0 20px;
	}
	i {
		color: #fff;
		font-family: weather;
		font-size: 40px;
		font-weight: normal;
		font-style: normal;
		line-height: 1.0;
		text-transform: none;
	}
	.icon-0:before { content: ":"; }
	.icon-1:before { content: "p"; }
	.icon-2:before { content: "S"; }
	.icon-3:before { content: "Q"; }
	.icon-4:before { content: "S"; }
	.icon-5:before { content: "W"; }
	.icon-6:before { content: "W"; }
	.icon-7:before { content: "W"; }
	.icon-8:before { content: "W"; }
	.icon-9:before { content: "I"; }
	.icon-10:before { content: "W"; }
	.icon-11:before { content: "I"; }
	.icon-12:before { content: "I"; }
	.icon-13:before { content: "I"; }
	.icon-14:before { content: "I"; }
	.icon-15:before { content: "W"; }
	.icon-16:before { content: "I"; }
	.icon-17:before { content: "W"; }
	.icon-18:before { content: "U"; }
	.icon-19:before { content: "Z"; }
	.icon-20:before { content: "Z"; }
	.icon-21:before { content: "Z"; }
	.icon-22:before { content: "Z"; }
	.icon-23:before { content: "Z"; }
	.icon-24:before { content: "E"; }
	.icon-25:before { content: "E"; }
	.icon-26:before { content: "3"; }
	.icon-27:before { content: "a"; }
	.icon-28:before { content: "A"; }
	.icon-29:before { content: "a"; }
	.icon-30:before { content: "A"; }
	.icon-31:before { content: "6"; }
	.icon-32:before { content: "1"; }
	.icon-33:before { content: "6"; }
	.icon-34:before { content: "1"; }
	.icon-35:before { content: "W"; }
	.icon-36:before { content: "1"; }
	.icon-37:before { content: "S"; }
	.icon-38:before { content: "S"; }
	.icon-39:before { content: "S"; }
	.icon-40:before { content: "M"; }
	.icon-41:before { content: "W"; }
	.icon-42:before { content: "I"; }
	.icon-43:before { content: "W"; }
	.icon-44:before { content: "a"; }
	.icon-45:before { content: "S"; }
	.icon-46:before { content: "U"; }
	.icon-47:before { content: "S"; }
}


// The Best Sea Tours
.tours{
	display:flex;
	justify-content:space-between;
	align-content: space-between;
	flex-wrap:wrap;
	padding:5%;

}

.sea-tour{
	position:relative;
	margin-bottom:2%;
	img {
		display:block;
	}
}

.tour-detail{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	padding:5%;	
	
	img {
		display:inline-block;
	}
	&:hover{
		background:rgba(0,0,0,0.3);
		cursor:pointer;
	}
}

.tour-detail:hover button{
	background:none;
}

.tour-title{
	margin:auto;
	text-align:center;

}
.tour-text{
	display:flex;
	align-items:center;
	justify-content:space-between;
	p {
		color:white;
		margin:4px 0;
	}
}
.highlight {
	font-weight:700;
}
// Featured Package
.featured{
	background:url('../images/banner.jpg');
	background-size:cover;
	background-position:center;
	height:40vh;
	min-height:266px;
	display:flex;
	flex-direction:column;
	margin:0;
	justify-content:center;
	align-items:center;
	color:white;

	h2{
		margin-bottom:0;
	}
	p{
		text-transform:uppercase;
	}
}	
// Special Offers
.best-tours,
.special-offers{
	padding-top:5%;
}
.offers {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:5%;
}

.offer{
	// max-width:32%;
	position:relative;
	margin-bottom:2%;
}
.offer img,
.pop-city img {
	width:100%;
	display:block
}
.offer:hover button{
	background:none;
}

.offer-details{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	padding:8%;
	ul {
		list-style:none;
		li {
			display:inline-block;
		}
	}
}
.offer-details:hover,
.pop-city-text:hover{
	background:rgba(0,0,0,0.3);
	cursor:pointer;
}	

.offer-name{
	flex: 1 2 60%;
}

.offer-text{
	flex: 1 2 40%;
	li{
		padding-right:8px;
	}
	li:nth-child(2) {
		border-left:1px solid white;
		border-right:1px solid white;
		padding-left:8px;
	}
}

.offer-num{
	font-size:2.4rem;
	font-weight:600;
}
.offer-tag{
	text-transform:uppercase;
}

// Most Popular Travel Countries
.popular-countries{
	padding-bottom:5%;
}

.popular-row1,
.popular-row2 {
	display:flex;
	justify-content:space-between;
	// height:400px;
	padding:0 5%;
	margin-bottom:5%;
}

.popular-row2 {
	flex-direction:row-reverse;
	.popular-detail {
		text-align:right;
		ul{
			list-style-position: inside;
			text-align:right;
		}
	}
}

.best-cities {
	float:left;
	width:33.33%;
}
.popular-images1,
.popular-images2{
	padding:1%;
	display:flex;
	flex-direction:column;
}
.popular-detail {
	padding:1%;
	display:flex;
	flex-direction:column;
}

.popular-detail{
	justify-content:space-between;
	align-items:space-between;
}

.popular-detail {
	max-width:50%;
	padding-left:2%;
	ul {
		color: $lightgray;
		list-style-position: inside;
	}

	button{
		margin-top:3%;

		&:hover{
			color:$black;
		}
	}
}

.pop-city{
	position:relative;
	margin-bottom:5%;
}

.pop-city-text{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:0;
	z-index:1;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	padding-left:4%;
	transition:all 0.3s;
	h4{
		margin-bottom:4px;
	}
	h5 {
		margin-top:4px;
	}
	span {
		color:$coldblue;
	}
}


.popular-row1 .popular-detail {
	background:url('../images/italymap.png') center center no-repeat;
	background-size:contain;
}

.popular-row2 .popular-detail {
	background:url('../images/francemap.jpg') center center no-repeat;
	background-size:contain;
}
// Footer
footer{
	background:$black;
	font-size:1.2rem;
	padding-top: 3%;

	.logo{
		color:white;
		padding:3% 1px;
	}
	a {
		text-decoration:none;
		color:$darkgray;
	}

	.footer-menu h5:hover,
	a:hover{
		color:$coldblue;
	}

	h5{
		color:white;
	}
	ul {
		list-style:none;

		li{
			padding-left:0;
		}
	}

	nav{
		display:flex;
		justify-content:space-between;
		padding:25px 25px 25px;
		align-items:center;
		.copy p{
			font-size:1.1rem;
			color:$darkgray;
		}	
	}

	input{
		width:100%;
		background:none;
		border:1px solid $darkgray;
		padding:10px;
		border-radius:5px;
	}
	input,
	input.btn{
		font-size:1.2rem;
	}
	input.btn{
		margin-top:10px;
		padding:8px;
	}
}
.newsletter{	
	position:relative;
} 
.fa-envelope-o{
	position:absolute; 
	right:13px;
	top:8px;
	font-size:2rem;
	color:$darkgray;
}
.footer-menu li {
	position:relative;
	display:inline-block;
	padding:5px;
}
.bottom{
	text-transform:uppercase;
}
.footer-info{
	width:90%;
	margin:0 auto;
}

.footer-countries ul{
	column-count:2;
}

.info{
	float:left;
	width:20%;
	margin-bottom:15px;

	h5{
		margin-top:0;
	}
}

button.social {
	width:130px;
	border:none;
	border-radius:5px;
	padding: 6px 12px;
	color:white;
	font-weight:300;
	text-align:left;
	position:relative;
	margin-bottom:4px;

	i {
		font-size:1.2rem;
		padding-right:5px;
	}

}
.fans {
	background:white;
	color:$black;
	display:inline-block;
	float:right;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	width:30px;
	border-radius:5px;
	font-weight:600;
	padding:4px 2px;
	text-align:center;
}

button.facebook{
	background:#3b5998;
}
button.twitter{
	background:#00abf1;
}
button.google{
	background:#d0422a;
}
button.pinterest{
	background:#cc2127;
}

.info input[type=text]{
	width:35px;
	height:27px;
	position: absolute;
	right:99px;
	background:white;
	color:black;
	border:1px solid white;
	text-align:center;
	padding:0;
}

// Responsive Styles
@media only screen and (min-width: 320px) and (max-width: 768px){
	h2 {
		font-size:2.5rem;
	}
	nav .menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.8);
		flex-flow: column wrap;
		text-align: center;
		justify-content: center !important;
		align-items:center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		transform: scale(1.2);
		z-index:50;

		h5{
			font-size:2rem;
		}
	}
	.menu.show {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	.main-header nav .menu li{
		border-bottom:none;
		padding:  14px;
		font-size: 2rem;
		&:hover{
			background:none;
			border-bottom:none;
		}
	}

	ul.menu a {
		color: rgba(0,0,0,0.8);
	}
	
	.main-header .fa-bars {
		display: inline-block;
	}

	nav .menu li ul,
	li .fa-chevron-down {
		display:none;
	}
	
	.main-header,
	#weather i{
		color:$darkblack;
	}	
	.main-header{
		background:none;
		height:auto;
		
	}
	.main-header .hero-text h1 {
		font-size:3rem;
	}

	.search-form{
		margin-top:5%;
		.search{
			label{
				padding:10px 13px;
			}
			h4{
				font-size:1.4rem;
			}
		}
		.package-form{
			flex-direction:column;
			background:$black;
			justify-content:space-around;
			height:90vh;	
			h5{color:white;}

			.drops{
				display:flex;
				justify-content:space-between;
				width:64%;
			}

		}
	}	
	.cruises .package-form {
		justify-content:center;
	}
	.cruise-drops{
		display:flex;
		flex-direction:column;
		width:100%;
		border-bottom:none;
	}			
	.popular-row1,
	.popular-row2{
		flex-wrap:wrap;
		justify-content: center;

	}
	.popular-detail{
		width:80%;
		max-width:80%;
	}

	.info {
		width:50%;
		&:first-child{
			width:100%;
		}
	}
	footer nav{
		display:flex;
		flex-direction:column;
	}	

}

@media only screen and (min-width:480px) and (max-width: 827px){
	.offer:last-of-type{
		display:none;
	}
}	

@media only screen and (min-width: 768px) and (max-width: 960px){
	.main-header nav .logo{
		flex-basis:15%;
	}
	.main-header nav ul {
		flex:1 0 85%;
	}

}

@media only screen and (min-width: 687px) and (max-width: 940px){
	.offer{
		width:49%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 829px){
	.sea-tour,
	.offer{
		flex-basis: calc(50% - 4px);
	}	
	.tour-title h3,
	.tour-title h4{
		margin:0;
	}
	.offer-name h3{
		margin-bottom:0;
	}
	.tour-text{
		flex-direction:column;
	}
}

@media only screen and (min-width:480px) and (max-width:625px){
	.popular-images1,
	.popular-images2{
		width:calc(50% - 10px);
	}
}

@media only screen and (min-width:830px) {
	.sea-tour,
	.offer{
		flex-basis: calc(33.3% - 10px);
	}

}
















